{
	"presets": [
		[
			"env",
			{
				"targets": {
					"browsers": ["last 2 versions"],
					"chrome": 49,
					"safari": 9
				},
				"debug": true
			}
		]
	],
	"plugins": ["transform-es2015-typeof-symbol"]
}
