form
    textarea(name="message" placeholder="Введите сообщение...")
    br
    input(type="text", name="username", placeholder=username || "Имя пользователя...")
    input(type="submit", value="Отправить")